*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #F0F7EE;
}
.heading{
    text-align: center;
}
div{
    text-align: center;
}
ul{
    list-style-type: square;
    font-size: 24px;
    text-align: center;
    list-style: inside;
    display: inline-block;
}
a{
    color: #664C43;
}