@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}
body{
    background-color: #1768AC;
}
nav.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #06BEE1;
    color: white; 
    max-height: 50px;
}
nav.links{
    display: flex;
    gap: 20px;
    font-size: 24px;
}
nav > *{
    font-family: 'Roboto Slab', serif;
}
.heading{
    text-align: center;
    font-size: 32px;
    align-content: flex-start;
}

div{
    text-align: center;
}
ul{
    list-style-type: square;
    font-size: 24px;
    text-align: center;
    list-style: inside;
    display: inline-block;
}
a{
    color: #664C43;
}